div.projectCard {
  width: 350px;
  height: 110px;
}

.projectName {
  font-size: 175%;
  padding-bottom: 25px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.projectDescription {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}