footer {
    height: 50px;
    display: grid;
    place-items: center;
    border-top: 1px solid #77cc5d;
    background: #77cc5d;
}

footer a {
    font-size: 70%;
    text-decoration: none;
    color: white;
}