.buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
button {
    display: flex;
    align-items: center;
    padding: 3px;
    margin: 5px;
    background: none;
    cursor: pointer;
    border: 1px solid LightGray;
    border-radius: 5px;
}