@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Sometype+Mono:wght@500&display=swap');

.borderedForm {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;

    border-radius: 5px;
    margin-bottom: 25px;
}

.FormItem {
    margin: 5px;

    .FormLabel {
        font-weight: bold;
    }

    .FormAdvice {
        font-style: italic;
    }

    .FormError {
        color: red;
    }
}

.buttonHolder {
    display: block;
}