@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Sometype+Mono:wght@500&display=swap');

form {
    display: inline-block;
}

.FormItem {
    margin: 5px;

    .FormLabel {
        font-weight: bold;
    }

    .FormAdvice {
        font-style: italic;
    }

    .FormError {
        color: red;
    }
}